<footer>
    <p>Made with love by <a href="http://twitter.com/superwomyn" target="_blank">@Superwomyn</a> and <a href="http://twitter.com/madysondesigns" target="_blank">@MadysonDesigns</a></p>
</footer>

<script>
    var KnittableApp = {
        init: function() {
            this.ui = {
                checkbox: $('.pattern .row-checkbox')
            };

            $(this.ui.checkbox).each(function() {
                rowId = $(this).data('row');

                $(this).attr('checked', sessionStorage.getItem('checkbox-row-' + rowId) == 'true');
            });

            this.ui.checkbox.click(function(e){
                sessionStorage.setItem('checkbox-row-' + $(e.currentTarget).data('row'), $(this).is(':checked'));
            });
        },

        clearLocalStorage: function() {
            sessionStorage.clear();
        }
    };

    $(document).ready(function(){
        KnittableApp.init();
    });
</script>
