<form action='/pattern' method='post' class="file-upload">
    <p>Select a .csv file with your pattern:</p>
    <label for="pattern-upload">
        <input type='file' id="pattern-upload" name='csv_path'/>
    </label>
    <button type="submit">Generate it</button>
</form>
